.list {
  min-height: 200px;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
  row-gap: 23px;
}

.item {
  width: 450px;
}

.item:nth-child(n + 6) {
  justify-self: end;
}
