.header {
  width: 100%;
  min-height: 91px;
  background-color: #F6F7FF;
  padding: 24px 98px 30px 98px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: nowrap;
}

.logo {
  display: block;
  margin-right: 56px;
}
