.history {
  width: 1366px;
  margin: 0 auto;
  padding-right: 98px;
  padding-left: 98px;
  background-color: #FFFFFF;
}

.wrapper {
  position: relative;
  min-height: 477px;
  padding: 45px 85px 39px 70px;
  background-color: #F6F7FF;

  &::before {
    content: '';
    position: absolute;
    width: 1px;
    top: 100px;
    bottom: 88px;
    left: 50%;
    background-color: #C1C2CA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.title {
  margin-bottom: 50px;
  color: #1F1E25;
  font-weight: 500;
  font-size: 28px;
  line-height: 39px;
}

.list {
  margin-bottom:49px;
}

.button {
  cursor: pointer;
  min-width: 198px;
  height: 51px;
  color: #F6F7FF;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  background-color: #2C36F2;
  border-radius: 4px;
  border: none;
  text-align: center;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    background-color: #171E9D;
  }

  &:disabled {
    background-color: #CCCCCC;
    pointer-events: none;
  }
}
